{% extends "lab_8/layout/base.html" %} 
{% block content %}
<section>
    <div class="container" id="lab8">
		<button id="login-button"  onclick="facebookLogin()"><center><img id="hehe" src="http://mauisold.com/images/Logos/FB-f-Logo__white.png" height=50px width=50px><b>Login With Facebook</b></img></button></center>
    </div>
</section>
{% endblock %}
